<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Add User {{message}}</h4>
            </div>
            <div class="content">
                <form name="contatoForm">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Empresa</label>
                                <input type="text" class="form-control" ng-required="true" ng-model="contato.empresa" placeholder="Company">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" ng-required="true" ng-model="contato.username" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" ng-model="contato.email" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Name</label>
                                <input type="text" class="form-control" ng-model="contato.nome" placeholder="First Name">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                               <label style="visibility: hidden;"> Upload Fotos</label>
                                <input filepicker 
                                    type="filepicker" 
                                    data-fp-services="computer,webcam"
                                    ng-model="contato.foto" 
                                    on-success="onSuccess(event.fpfile)" 
                                    data-fp-button-class="btn btn-success btn-ms col-md-12 col-ms-12"
                                    data-fp-button-text='<i class="fa fa-3 fa-cloud-upload"></i> Upload a file!' />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Zip Code</label>
                                <input type="text" id="zip" class="form-control" ng-blur="autoCompletAddress(contato.cep)" ng-model="contato.cep" placeholder="CEP 58090-790">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Logradouro</label>
                                <input type="text" id="rua" class="form-control" ng-model="contato.rua" placeholder="Rua Irandir Costa">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Province/State</label>
                                <input type="text" id="estado" class="form-control" ng-model="contato.uf" placeholder="Paraiba">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" id="cidade" class="form-control" ng-model="contato.cidade" placeholder="João Pessoa">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bairro</label>
                                <input type="text" class="form-control" id="bairro" ng-model="contato.bairro" placeholder="Alto do Mateus">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <textarea rows="5" class="form-control" ng-model="contato.sobre" placeholder="Here can be your description"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" ng-click="insertCustomer(contato)" class="btn btn-info btn-fill pull-right">Salvar</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- -->


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Listar Contatos</h4>
                    <div class="form-group">

                        <input type="text" class="form-control" ng-model="search" placeholder="Buscar contato">
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <th>Nome</th>
                            <th>Foto</th>
                            <th>Empresa</th>
                            <th>Username</th>
                            <th>Rua</th>
                            <th>Bairro</th>
                            <th>Estado</th>
                            <th>Cidade</th>
                            <th>CEP</th>
                            <th class="text-center">Ações</th>
                        </thead>
                        <tbody>

                            <tr ng-repeat="contato in contatos | filter:search">
                                <td>{{contato.nome}}</td>
                                <td><img ng-src='{{contato.foto}}' width="32" /></td>
                                <td>{{contato.empresa}}</td>
                                <td>{{contato.username}}</td>
                                <td>{{contato.rua}}</td>
                                <td>{{contato.bairro}}</td>
                                <td>{{contato.uf}}</td>
                                <td>{{contato.cidade}}</td>
                                <td>{{contato.cep}}</td>
                                <td class="td-actions text-center">
                                    <a rel="tooltip" ng-href="#update/{{contato._id}}" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Edit Task">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button type="button" ng-click="deleteCustomer(contato._id)" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>