<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Atualizar Empresa</h4>
            </div>
            <div class="content">	
                <form name="contatoForm">
                    <input type="hidden" ng-model="contato.codigo"> 
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Empresa</label>
                                <input type="text" class="form-control" ng-required="true" ng-model="contato.empresa" placeholder="Company">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Telefone</label>
								<input type="text" class="form-control" ng-required="true" ng-model="contato.telefone" placeholder="Telefone">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control" ng-model="contato.email" placeholder="E-mail">
                            </div>
                        </div>
                    </div>

                    <div class="row">
<!--
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Name</label>
                                <input type="text" class="form-control" ng-model="contato.nome" placeholder="First Name">
                            </div>
                        </div>
-->
                        
						<div class="col-md-12">
							<div class="form-group">
								<label style="visibility: hidden;"> Upload Fotos</label>
								<input filepicker 
									   type="filepicker" 
									   data-fp-services="computer,webcam"
									   ng-model="contato.foto" 
									   on-success="onSuccess(event.fpfile)" 
									   data-fp-button-class="btn btn-success btn-ms col-md-12 col-ms-12"
									   data-fp-button-text='<i class="fa fa-3 fa-cloud-upload"></i> Upload a file!' />
							</div>
						</div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>CEP</label>
                                <input type="text" id="zip" class="form-control"  ng-model="contato.cep" placeholder="CEP 58090-790">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Logradouro</label>
                                <input type="text" id="rua" class="form-control" ng-model="contato.rua" placeholder="Rua Irandir Costa">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado</label>
                                <input type="text" id="estado" class="form-control" ng-model="contato.uf" placeholder="Paraiba">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cidade</label>
                                <input type="text" id="cidade" class="form-control" ng-model="contato.cidade" placeholder="João Pessoa">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bairro</label>
                                <input type="text" class="form-control" id="bairro" ng-model="contato.bairro" placeholder="Alto do Mateus">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Sobre</label>
                                <textarea rows="5" class="form-control" ng-model="contato.sobre" placeholder="Here can be your description"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="button" ng-click="updateCustomer(contato)" class="btn btn-info btn-fill pull-right">Atualizar</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- -->